
.SignIn{
    width: 80vw;
    border: blue 2px solid;
    background-color: cadetblue;
  }

.FormSignup{
    border: blue 1px solid;
    width: 400px;
    height: 400px;

}

.img__Home{
    width: 400px;
    height:400px;
}