.Signin {
  width: auto;
  height: auto;
  margin-top: 100px;
}

.FormSignup {
  border: #00bfa6 1px solid;
  box-shadow: 5px 1px 2px 1px rgb(173, 196, 211);
  border-radius: 10px;
  width: 400px;
  height: 400px;
  margin-top: 50px;
}

.FormSignin {
  border: #00bfa6 1px solid;
  box-shadow: 5px 1px 2px 1px rgb(173, 196, 211);
  border-radius: 10px;
  width: 400px;
  display: flex;
  height: 200px;
}

.Home {
  justify-content: space-evenly;
  align-items: center;
}

.Home__img {
  width: 400px;
  height: 800px;
}

.FormJob {
  font-size: 16px;
  padding: 20px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: azure 3px solid;
  color: darkgray;
  text-align: left;
}

.__label {
  color: blue;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 4px;
  grid-template-areas: ". . . . . . .";
  margin: 0 5px;
}

.contact {
  width: 100%;
  margin: 10px;
  padding: 10px;
  font-size: 12px;
}

.Dashboard__column {
  height: 100vh;
  background-color: #f5f4f4;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
}

hr {
  border: rgb(173, 196, 211) solid 1px;
  box-shadow: 5px 1px 2px 1p rgb(199, 201, 202);
}

.Dashboard__column h3 {
  text-align: center;
  padding: 10px;
}
.Dashboard__search {
  justify-content: space-between;
  margin: 10px 5px;
}

.Dashboard__main {
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100vh;
  width: auto;
}

.JobCard {
  border: #e9ebf2 2px solid;
  background-color: white;
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 5px;
  padding: 10px;
  transition: 0.5s;
  align-content: center;
}

.JobCard__buttonDiv {
  display: flex;
  justify-content: space-around;
  width: auto;
}
.blueBtn {
  margin-top: 20px 0px;
  width: 80px;
  height: auto;
  padding: 0 5px;
  font-size: 14x;
  background-color: #bcf2e2;
  border: black 1px solid;
  border-radius: 5px;
  color: #282c33;
}

.FormSignin__btn {
  width: 100px;
  height: auto;
  padding: 0 5px;
  font-size: 14x;
  background-color: #bcf2e2;
  border: black 1px solid;
  border-radius: 5px;
  color: #282c33;
  margin-top: 10px;
}

#deleteBtn {
  width: 80px;
  height: auto;
  padding: 0 5px;
  font-size: 14x;
  border: black 1px solid;
  border-radius: 5px;
}
.JobCard h3 {
  color: #282c33;
  font: 16px;
  text-align: left;
  overflow-wrap: break-word;
}

.JobCard h4 {
  color: #3c414d;
  font: 14px;
  overflow-wrap: break-word;
}

.JobCard:hover {
  box-shadow: 5px 5px 5px 1px rgb(173, 196, 211);
  transform: scale(1);
}

.Profile {
  border-radius: 5px;
  border: 1px solid #00303f;
  height: 400px;
  width: auto;
  margin: 100px 300px;
  color: black;
  border: #e9ebf2 2px solid;
  border-radius: 4px;
  padding: 10px;
  text-align: left;
  display: flex;
  justify-content: space-evenly;
}

.NotFound img {
  margin-top: 40px;
  width: 50%;
  height: 70%;
}

.FormJob__form label {
  color: #3c414d;
}

.FormJob__form {
  width: 50vw;
}

.FormJob_form div {
  display: flex;
  flex-direction: column;
}

.FormJob_input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.FormUpdateUser {
  height: 500px;
  padding: 40px;
  border: 1px solid #ccc;
}

.FormUpdateUser label {
  color: #00bfa6;
}

.FormJob_label {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.FormJobUpdate {
  width: 550px;
  height: auto;
  padding: 40px;
}

.FormJobUpdate label {
  color: #00bfa6;
}

.JobCard__buttonDiv {
  margin-top: 10px;
  width: 200px;
}

#updateDltBtn {
  margin: 10px 0;
}

.addMargin {
  margin-top: 10px;
}

#required {
  color: #a54b4a;
  font-size: 12px;
}

select {
  margin-bottom: 10px;
}

#detailImg {
  z-index: -1;
  height: 60vh;
  position: absolute;
  right: 0px;
  bottom: 0;
}
.topcard {
  position: absolute;
  left: 10px;
  z-index: 99;
  background-color: white;
  color: #00303f;
  text-align: center;
}
